%div#main


%script#app-template{type: 'text/template'}

// Form to make new airplane
%script#new-airplane-template{type: 'text/template'}
  %div#new-airplane.col-md-12
    %form{:action => "/airplanes", :method => :post}
      %label{:for => "airplane-name"} Airplane Name:
      %input#airplane-name{name: 'airplane-name'}
      %label{:for => "airplane-rows"} Rows:
      %input#airplane-rows{type: 'range', min: 4, max: 8, name: 'airplane-rows'}
      %label{:for => "airplane-cols"} Columns:
      %input#airplane-cols{type: 'range', min: 10, max: 100, name: 'airplane-cols'}
      %button{:type => 'button'} New Airplane

// Page for single airplane
%script#airplane-show-template{type: 'text/template'}
  %div.airplane.row
    %div.col-md-3
      {{ name }}
    %div.col-md-3
      {{ rows }}
    %div.col-md-3
      {{ cols }}
    %div.col-md-3
      -# button or something
  %div#seating.col-md-12

// Row for single airplane on list
%script#airplane-row-template{type: 'text/template'}
  %div.airplane.row
    %div.col-md-3
      {{ name }}
    %div.col-md-3
      {{ rows }}
    %div.col-md-3
      {{ cols }}
    %div.col-md-3
      button or something

// List of airplanes
%script#airplanes-template{type: 'text/template'}
  %div#airplanes.row
    %div.col-md-3
      Airplane Name
    %div.col-md-3
      Rows
    %div.col-md-3
      Columns
    %div.col-md-3
      Book button

// Form to search airplanes
%script#flight-search-template{type: 'text/template'}
  %div
    %form#flight-selection
      %label{:for => "flight-start-dropdown"} Origin:
      %select#flight-start-dropdown{:name => "flight-start-dropdown"}
        {{#each models}}
        %option{value: '{{attributes.id}}'} {{attributes.origin}}
        {{/each}}
      %label{:for => "flight-end-dropdown"} Destination:
      %select#flight-end-dropdown{:name => "flight-end-dropdown"}
        {{#each models}}
        %option{value: '{{attributes.id}}'} {{attributes.destination}}
        {{/each}}
      %label{:for => "start-date"} From:
      %input#flight-to-date{type: 'date', name: 'start-date'}

      %label{:for => "end-date"} To:
      %input#flight-return-date{type: 'date',name: 'end-date'}

      %input{type: 'submit'}


// Page for single flight to book seats
%script#flight-show-template{type: 'text/template'}
  %div.flight.row
    %div.col-md-2
      {{ flight_number }}
    %div.col-md-2
      {{ airplane_id }}
    %div.col-md-2
      {{ date }}
    %div.col-md-2
      Seats left
    %div.col-md-2
    %div.col-md-2
  %div#seating.col-md-12

// Single row for flight inside list
%script#flight-row-template{type: 'text/template'}
  %div.flight.row
    %div.col-md-2
      {{ flight_number }}
    %div.col-md-2
      {{ airplane_id }}
    %div.col-md-2
      {{ date }}
    %div.col-md-2
      Seats left
    %div.col-md-2
    %div.col-md-2
      Book button

// List of flights
%script#flights-template{type: 'text/template'}
  %div#flights.row
    %div.col-md-2
      Flight number
    %div.col-md-2
      Airplane
    %div.col-md-2
      Departure Date
    %div.col-md-2
      Seats left
    %div.col-md-2
    %div.col-md-2
      Book now!


// Single reservation row for admin
%script#admin-reservation-template{type: 'text/template'}
  %div#reservation.row
    %div.col-md-2
      {{ user_id }}
    %div.col-md-2
      {{ flight_id }}
    %div.col-md-2
      depature date through associations
    %div.col-md-2
      {{ row }}{{ col }}
    %div.col-md-2
    %div.col-md-2
      Remove

// List of reservations(all)
%script#admin-reservations-template{type: 'text/template'}
  %div#reservations.row
    %div.col-md-2
      Reservation Owner
    %div.col-md-2
      Flight
    %div.col-md-2
      Departure Date
    %div.col-md-2
      Seat Number
    %div.col-md-2
    %div.col-md-2
      Booking

// Single reservation row for the current user
%script#user-reservation-template{type: 'text/template'}
  %div#user-reservation.row
    %div.col-md-3
      {{ flight_id }}
    %div.col-md-3
      Departure Date through assoc
    %div.col-md-3
      {{ row }}{{ col }}
    %div.col-md-3
      Booking button or somthing

// List of reservations(current user)
%script#user-reservations-template{type: 'text/template'}
  %div#user-reservations.row
    %div.col-md-3
      Flight
    %div.col-md-3
      Departure Date
    %div.col-md-3
      Seat Number
    %div.col-md-3
      Booking

//Box for a single seat
%script#seat-template{type: 'text/template'}
  %div#seat

// Div for all the seats to go into
%script#seating-template{type: 'text/template'}
  %div#seating
