%script#flight-template{type: 'text/template'}
  %div#flight-selection-div
    %form#flight-selection-form
      %select#flight-start-dropdown
      %select#flight-end-dropdown
      %input#flight-to-date{type: 'date'}
      %input#flight-return-date{type: 'date'}
